################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/prog71990 (2)/v17
/PROG71990/.vs/PROG71990 Project
/.vs/PRPG71990-PROJECT/v17
